body{
  background: linear-gradient(to right, #000046, #1cb5e0);
}
  h3.login-heading.mb-4{
    font-family: roboto;
    text-align: center;
    font-size: 2rem;
  }
  .login-form {
    width: 400px;
    margin: 50px auto;
  }
  .login-form form {
    margin-bottom: 15px;
    padding: 30px;
  }
  .login-form h2 {
    margin: 0 0 15px;
  }
  .btn {        
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background-color: #1687ED;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
  }
  p{
    text-align: center;
  }
  label{
    font-family: roboto;
    color: #343a40;
    font-size: 0.875em;
  }
  a{
    text-decoration: none;
  }
  #pass{
    padding-left: 8.7rem;
  }